<h3>Updated February 10, 2020</h3>

<p>
    Foundry Virtual Tabletop and FoundryVTT.com is committed to protecting your privacy while using our website
    and application. This document describes what data we collect and persist, and under what circumstances it
    is used. This document will be updated from time to time - the date of the most recent revision will be
    reflected at the top of the document.
</p>

<h3>What personal data do you collect and why?</h3>

<p>
    We collect the following personal data in order to validate your identity and protect the value of each
    Foundry Virtual Tabletop software license.
</p>

<ol>
    <li>Your chosen display name on the FoundryVTT.com website platform.</li>
    <li>Your email address.</li>
    <li>The IP address from which you update the Foundry Virtual Tabletop software.</li>
</ol>

<p>
    We do NOT collect or store any data related to billing or payments. Your name, billing address, and credit card
    details are all financial data processed by Stripe which is a highly reputable e-commerce platform which uses
    industry standard security practices to encrypt your payment and billing data. Additionally, we do not collect
    any data about how or when you use the Foundry Virtual Tabletop software.
</p>

<p>
    The data we collect is kept securely in an encrypted database and is not shared with any third party for any
    reason. You may view your personal data on your Profile page and request its deletion at any time by
    sending an email to
    <a href="mailto:admin@foundryvtt.com?subject=Personal Data Deletion Request">admin@foundryvtt.com</a>
    from the email address associated with your FoundryVTT.com account.
</p>
